.scroll {
  position: fixed; 
    top: 10px; 
    left: 10px; 
    background-color: yellow; 
    padding: 10px;
    font-size: 20px;
    z-index: 1000; 
    border: 1px solid black;
}

.link {
   color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
